<abp-page [title]="'::Menu:Home' | abpLocalization">
  <div class="card">
    <div class="card" *ngIf="!isTenant && !hasLoggedIn">
      <div class="card-header">Upload Document</div>
      <div class="card-body">
        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="consignmentNumber">Consignment Number</label>
            <input
              type="text"
              id="consignmentNumber"
              formControlName="consignmentNumber"
              class="form-control"
              placeholder="Enter consignment number"
            />
          </div>
          <div class="form-group">
            <label for="supplierName">Supplier Name</label>
            <select
              formControlName="supplierId"
              class="form-control"
              placeholder="Enter supplier name"
            >
              <option *ngFor="let option of suppliers" [value]="option.id">
                {{ option.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="document">Upload Document</label>
            <input type="file" id="document" (change)="onFileChange($event)" class="form-control" />
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="uploadForm.invalid">
            Submit
          </button>
        </form>
      </div>
    </div>
    <div class="container">
      <form class="form-inline"
      (ngSubmit)="onFilterSupplier()"
      [formGroup]="filterForm">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-5">
            <input class="form-control" formControlName="filterString" type="search" placeholder="Search" aria-label="Search">
          </div>
          <div class="col-md-1">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
    <div class="card" *ngIf="hasLoggedIn">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Consignment Number</th>
            <th scope="col">Capture Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for(document of filteredConsignmentDocuments; track document.consignmentNumber){
            <tr>
              <td>{{document.consignmentNumber}}</td>
              <td>{{document.capturedDate | date: 'yyyy/MM/dd HH:mm'}}</td>
              <td><a href="">download</a></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</abp-page>
